body {
  margin: 0;
  padding: 0; /* パディングをリセット */
  width: 100%;
  height: 100%;
  overflow: hidden; /* 画面全体をキャンバスで覆うため */
  display: flex;
  justify-content: center; /* コンテンツを中央に揃える */
  align-items: center; /* コンテンツを中央に揃える */
}

.header {
  /* font-family: "Noto Sans JP", "sans-serif"; */
  font-family: "Patrick Hand", cursive;
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  top: 20px;
  left: 10px;
  z-index: 20;
  cursor: pointer; /* デフォルトのカーソルをポインタに設定 */
}

.mobile-header {
  font-size: calc(5vw); /* 文字のサイズを画面の横幅の50%に設定 */
}

#joystickContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  z-index: 20;
}

#compass {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  pointer-events: none;
}
#compass-needle {
  transform-origin: 50% 50%;
  transition: transform 0.1s;
}
#compass-bg {
  fill: none;
  stroke: white;
  stroke-width: 2;
}
#compass-needle line {
  stroke: red;
  stroke-width: 2;
}

.tabs {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 100px;
  right: 0px;
  width: 110px;
  z-index: 10;
}

.tab {
  padding: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.2);
}

.tab:hover,
.tab.active {
  background-color: #ddd;
}

#back-button {
  display: none; /* 最初は非表示 */
  visibility: hidden; /* 初期状態は非表示 */
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px 20px;
  background: linear-gradient(
    135deg,
    #ff7e5f,
    #feb47b
  ); /* グラデーション背景 */
  color: white;
  border: none;
  border-radius: 25px; /* 丸みを帯びた角 */
  font-size: 16px;
  cursor: pointer;
  z-index: 20;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* ボックスシャドウ */
  transition: background 0.3s, transform 0.3s; /* スムーズなトランジション */
  display: flex;
  align-items: center;
  justify-content: center;
}
#back-button:hover {
  background: linear-gradient(
    135deg,
    #feb47b,
    #ff7e5f
  ); /* ホバー時のグラデーション */
  transform: translateY(-2px); /* ホバー時に少し上に移動 */
}
#back-button:active {
  transform: translateY(1px); /* クリック時に少し下に移動 */
}
#back-button::before {
  content: "＜"; /* 左向きの矢印 */
  font-size: 16px;
  margin-right: 8px; /* テキストとの間隔を調整 */
}

.accordion {
  border-radius: 4px;
  margin: 12px 0;
}

.accordion-header {
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 1px 10px 1px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-toggle {
  font-size: 1em;
}

.accordion-content {
  display: none;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
}

.accordion-content.active {
  display: block;
}

.content-item table {
  width: 100%;
}

#content0 p {
  font-family: "Patrick Hand", cursive;
  /* font-size: 20px; */
}

#content1 h3,
p {
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

#content2 .table tr:nth-child(odd),
#content3 .table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

#content2 .table tr:nth-child(even),
#content3 .table tr:nth-child(even) {
  background-color: #ffffff;
}

#content2 .table tr:hover,
#content3 .table tr:hover {
  background-color: #f1f1f1;
}

#content2 .table td,
#content3 .table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

#content2 .table td:first-child,
#content3 .table td:first-child {
  width: 20%;
  font-weight: light;
  color: #333;
  border-radius: 4px;
}

#content3 .table th {
  padding-top: 54px; /* 見出しの上に余白を追加 */
  /* font-size: 16px; */
  border-radius: 4px;
}

#content3 .table td {
  padding-bottom: 20px; /* テーブルの各セルの下に余白を追加 */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 色を調整 */
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: flex;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 20px 40px 20px;
  /* left: 0; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  overflow-y: auto;
  height: 90%;
}

.content-container {
  position: relative;
  width: 95%;
  max-width: 800px;
  height: 95%;
  align-items: center; /* コンテンツを中央に揃える */
}

.content-item {
  display: none;
}

.content-item.active {
  display: block;
}

.close-button {
  position: absolute;
  top: 3%;
  right: 5%;
  margin: 0;
  padding: 0;
  background: none;
  color: black; /* 初期色 */
  border: none;
  font-size: 5em;
  font-weight: 100;
  cursor: pointer;
  z-index: 100; /* 他の要素より前面に表示 */
  transition: transform 0.2s ease-in-out;
  /* transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; アニメーションの追加 */
}

.close-button:hover {
  transform: scale(1.1); /* ホバー時に少し大きくする */
  color: rgba(93, 93, 241, 0.9); /* ホバー時に色を変える */
}

@media (max-width: 768px) {
  .close-button {
    top: 1%;
    right: 3%;
    font-size: 4em;
  }
}

/* .nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
} */

.nav {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 40px); /* 左右の余白を考慮 */
  display: flex;
  justify-content: space-between;
}

.nav button {
  font-style: italic;
  color: #000;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30%;
  border: 1px normal #000000;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #ddd;
}

/* .icon-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 50px 0;
}

.icon-container a {
  font-size: 48px;
  color: #333;
  text-decoration: none;
}

.icon-container a:hover {
  color: #555;
} */

.icon-container {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  align-items: flex-start; /* 左揃え */
  gap: 20px; /* アイコンの間隔 */
  margin: 40px 60px;
}

.icon-container a {
  font-size: 32px;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center; /* アイコンとテキストを中央揃え */
  transition: color 0.3s; /* ホバー時のトランジション */
  /* font-family: "Noto Sans JP"; */
  font-family: "Patrick Hand", cursive;
  /* font-family: "Dancing Script", cursive; */
}

.icon-container a i {
  margin-right: 30px; /* アイコンとテキストの間隔 */
}

.icon-container a:hover {
  color: #888;
  transform: scale(1.05); /* ホバー時に拡大 */
}

.icon-container a span {
  font-size: 20px;
  font-weight: bold; /* テキストを太字に */
  letter-spacing: 1px; /* 文字間隔を広げる */
}

.label {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 0.7em;
  color: #fff;
}

.review-none {
  background-color: #ba8c0e; /* 赤色 */
}

.review-yes {
  background-color: #36baf7; /* 水色 */
}
