body {
  margin: 0;
  padding: 0; /* パディングをリセット */
  width: 100%;
  height: 100%;
  overflow: hidden; /* 画面全体をキャンバスで覆うため */
  display: flex;
  justify-content: center; /* コンテンツを中央に揃える */
  align-items: center; /* コンテンツを中央に揃える */
}

.header {
  font-family: "Noto Sans JP", "sans-serif";
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  top: 20px;
  left: 10px;
  z-index: 20;
  cursor: pointer; /* デフォルトのカーソルをポインタに設定 */
}

#joystickContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  z-index: 20;
}

.tabs {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 100px;
  right: 0px;
  width: 110px;
  z-index: 10;
}

.tab {
  padding: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.2);
}

.tab:hover,
.tab.active {
  background-color: #ddd;
}

.accordion {
  border-radius: 4px;
  margin: 12px 0;
}

.accordion-header {
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 1px 10px 1px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-toggle {
  font-size: 1em;
}

.accordion-content {
  display: none;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
}

.accordion-content.active {
  display: block;
}

.content-item table {
  width: 100%;
}

#content1 h3,
p {
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

#content2 .table tr:nth-child(odd),
#content3 .table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

#content2 .table tr:nth-child(even),
#content3 .table tr:nth-child(even) {
  background-color: #ffffff;
}

#content2 .table tr:hover,
#content3 .table tr:hover {
  background-color: #f1f1f1;
}

#content2 .table td,
#content3 .table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

#content2 .table td:first-child,
#content3 .table td:first-child {
  width: 20%;
  font-weight: light;
  color: #333;
  border-radius: 4px;
}

#content3 .table th {
  padding-top: 54px; /* 見出しの上に余白を追加 */
  /* font-size: 16px; */
  border-radius: 4px;
}

#content3 .table td {
  padding-bottom: 20px; /* テーブルの各セルの下に余白を追加 */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 色を調整 */
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: flex;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 20px 40px 20px;
  /* left: 0; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  overflow-y: auto;
  height: 90%;
}

.content-container {
  position: relative;
  width: 95%;
  max-width: 800px;
  height: 95%;
  align-items: center; /* コンテンツを中央に揃える */
}

.content-item {
  display: none;
}

.content-item.active {
  display: block;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 5em;
  font-weight: 100;
  cursor: pointer;
  z-index: 100; /* 他の要素より前面に表示 */
}

/* .nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
} */

.nav {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 40px); /* 左右の余白を考慮 */
  display: flex;
  justify-content: space-between;
}

.nav button {
  font-style: italic;
  color: #000;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30%;
  border: 1px normal #000000;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #ddd;
}

/* .icon-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 50px 0;
}

.icon-container a {
  font-size: 48px;
  color: #333;
  text-decoration: none;
}

.icon-container a:hover {
  color: #555;
} */

.icon-container {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  align-items: flex-start; /* 左揃え */
  gap: 20px; /* アイコンの間隔 */
  margin: 40px 60px;
}

.icon-container a {
  font-size: 32px;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center; /* アイコンとテキストを中央揃え */
  transition: color 0.3s; /* ホバー時のトランジション */
  font-family: cursive;
}

.icon-container a i {
  margin-right: 30px; /* アイコンとテキストの間隔 */
}

.icon-container a:hover {
  color: #888;
  transform: scale(1.05); /* ホバー時に拡大 */
}

.icon-container a span {
  font-size: 20px;
  font-weight: bold; /* テキストを太字に */
  letter-spacing: 1px; /* 文字間隔を広げる */
}

.label {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 0.7em;
  color: #fff;
}

.review-none {
  background-color: #ba8c0e; /* 赤色 */
}

.review-yes {
  background-color: #36baf7; /* 水色 */
}
